@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Monoton');
body{         
    margin: 0;
    box-sizing: border-box;
}

.main-header{
    position: relative;

}

.header-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 0%;
    justify-content: space-between;
    align-items: center;
}

.main-header{
    height: 100vh;
    background: #4384ac;
}

.header-text{
    padding-top: 20%;
    text-align: center;
    
}
.first{
    font-family: 'Monoton', cursive;
    font-size: 66px;
    color: #ffd5fb;
    margin-top: 0px;
}
.about{
    font-family: 'Shadows Into Light', cursive;
    font-size: 44px;
    margin-bottom: 0px;
    color: #ccffcc;
}

.header-social{
    position: absolute;
    bottom: 3%;
}

.social-list{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.social-item{
    padding: 5px;
}

.social-link{
    font-size: 30px;
    color: black;
}
/* .unicorn{
    position: relative;
    width: auto;
} */
.unicorn-second{
    position: absolute;
    width: auto;
    height: 159px;
    top: 183px;
    right: 349px;
}
.unicorn-third{
    width: auto;
    height: 200px;
}